body {
	margin: 0 auto;
	max-width: 900px;
	padding-bottom:40px;
}
@media screen and (max-width: 500px) {
	body {
		margin: 0;
	}
}

.bound {
	margin: 0px 20px 0px 20px; /*top right bottom left*/
}
@media screen and (max-width: 500px) {
	.bound {
		margin: 20px;
	}
}

p, li {
	color: black;
	font-family: 'Helvetica Neue', 'Arial', sans-serif;
	font-size: 16px;
	font-weight: 200;
	letter-spacing: 0.05em;
	line-height: 1.86em;
}
@media screen and (max-width: 500px) {
	p, li {
		padding-left: 0px;
	}
}

::-moz-selection { color: #A1BCCC; }
::selection { color: #A1BCCC; }

a {
	text-decoration: underline;
	transition: color 0.1s ease-in-out;
	color: black;
}
a:visited { text-decoration: underline; }
a:hover { color: #A1BCCC !important; }

.header {
	height: 70px;
	padding-bottom: 5px;
}

hr {
	margin-bottom: 30px;
	color: #D3D3D3;
	height: 1px;
	background-color: #D3D3D3;
	border: 0 none;
}
@media screen and (max-width: 500px) {
	hr {
		display: none;
	}
}

/* title */

.title {
	color: black;
	font-family: 'Helvetica Neue', 'Arial', sans-serif;
	font-size: 36px;
	letter-spacing: 0.04em;
	float: left;
	margin: 22px 0px 0px 0px; /*top right bottom left*/
	line-height: 120%;
}
@media screen and (max-width: 500px) {
	.title {
		float: none;
		text-align: center;
		font-size: 2em;
		line-height: 1.8em;
	}
}
@media screen and (max-width: 350px) {
	.title {
		font-size: 1.7em;
		padding-left: 0px;
	}
}

/* top hello */

.hellowide {
	float: right;
	margin-top: 35px;
	line-height: 14px;
}
@media screen and (max-width: 500px) {
	.hellowide {
		display: none;
		float: none;
		margin-top: none;
	}
}

/* bottom hello */

.social li.hellothin {
	display:none;
}

@media screen and (max-width: 500px) {
	.social li.hellothin {
		display: inline-block;
	}
}

/* social */

.social {
	width: 100%;
	margin: 0 auto;
	padding: 30px 0px 0px 0px; /*top right bottom left*/
	text-align: center;
}
.social li {
	display: inline-block;
    white-space: nowrap;
    margin: 10px 5%;
    text-align: center;
}
@media screen and (max-width: 500px) {
	.social li {
		margin: 10px 20px;
	}
}

/* img */

.image {
	float: left;
	width: 315px;
	margin: 5px 30px 5px 0px; /*top right bottom left*/
}
img {
	padding-top: 6px;
	width: 315px;
}
@media screen and (max-width: 500px) {
	.image {
		float: none;
		width: 100%;
		margin: 0 auto;
		padding-bottom: 10px;
		margin: 0px 0px 5px 0px; /*top right bottom left*/
	}
	img {
		padding-top: 0px;
		width: 100%
	}
}
@media screen and (max-width: 350px) {
	.image {
		margin: 0px 0px 0px 0px; /*top right bottom left*/
	}
}